.navbar {
	margin-bottom: 0px;
    border: none;
    background-color: #DFF0D8;
}

.portfolio {
    padding: 30px;
    margin-bottom: 0px;
    color: inherit;
}

.logo {
	background-color: #d9534f;
}

#logo {
	background-color: #C0EDF1;
	padding: 30px;
}

.intro {
	background-color: #FFB03B
}